<div class="card mb-3">
    <div class="row">
        <div class="col-md-2">
            <img src="/static/images/<%=resim  %>" class="img-fluid" alt="" width="300px" height="300px">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                 <a style="text-decoration: none;" href="/blogs/<%= id %>"><%=baslik  %></a>
                </h5>
                <p class="card-text"><%=altbaslik  %></p>
            </div>
        </div>
    </div>
</div>